<p>User Component</p>
<h4>List of users</h4>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Updated Value</th>
            <th>Input Field</th>
        </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="userList.length <= 0" [ngIfElse] = "userDataBlock">
        <tr>
          <td colspan="3">No Data Found</td>
        </tr>
      </ng-template>
      <ng-template #userDataBlock>
        <tr *ngFor="let user of userList">
          <td>{{user.name}}</td>
          <td [id] = " 'name' + user.id">{{user.name}}</td>
          <td><input [id]=" 'nameInput' + user.id " type="text"/></td>
        </tr>
      </ng-template>
    </tbody>
</table>
