<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='filterValue' />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{filterValue}}</h4>
      </div>
    </div>
    <div class="table-reponsive">
      <table class="table" *ngIf="users && users.length">
        <thead>
          <tr>
            <th><button class="btn btn-primary" (click)='toggleProfileImage()'>
                {{showImage ? 'Hide' : 'Show'}} Profile
              </button></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Site Details</th>
            <th>Default Value</th>
            <th>Input Value</th>
            <th>User Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of filteredUsers'>
            <td><img *ngIf="showImage" [src]='user.imageUrl' [title]='user.firstName + user.lastName'
                [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.siteName | convertToDashes: ' '}}</td>
            <td>{{ user.defaultVal | lowercase | convertToDashes: ' '}}</td>
            <td><input type="text" [value]='user.defaultVal'></td>
            <td>
              <sm-star [rating]='user.userRating' (ratingClicked)='onRatingClicked($event)'></sm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
