<div class="card" *ngIf="user">
  <div class="card-header">
    <!-- (?) safe navigation operator : This operator will use to check if the object have null or undefined property value
    user?.firstName this will only display when user have property or else it will returns with null and not through error -->
    {{pageTitle + ": " + user.firstName + " " + user.lastName}}
  </div>
</div>
